<div class={{data.messageClass}} *ngIf="data.message"><p>{{data.message}}</p></div>

<mat-card >
            <strong style="font-size:20px">{{idea.title}}</strong>({{idea.type}})
            <br><em>Posted by {{idea.owner}} on {{idea.dateCreated | date}} </em> 
            <mat-card class="idea">
            <p>
                {{idea.idea}}
            </p>            
            <p *ngIf="idea.total>0" class="align-right">Rating : {{idea.total/idea.rateCount}} Stars</p>
            <p *ngIf="idea.owner!=data.getUser() && getYourRating()" class="align-right">You gave this Idea {{getYourRating()}} stars rating</p>
            <form class="align-right" *ngIf="data.loggedIn() && !getYourRating() && idea.owner!=data.getUser()" [formGroup]="ratingForm" (ngSubmit)="onRating(idea._id)">
            <mat-radio-group formControlName="rating">
            <mat-radio-button  *ngFor="let i of stars" name="rating" value={{i}}>{{i}}&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
            </mat-radio-group>
            <button type="submit" matButton>Rate</button>
            </form>
          <hr>
          <form *ngIf="data.loggedIn()" [formGroup]='commentForm' (ngSubmit)="onSubmit(idea._id)"> 
              <mat-form-field><textarea rows=4 matInput placeholder="Comment" formControlName="comment" name="comment"></textarea></mat-form-field>
              <button type="submit" matButton>Add comment</button>
          </form>
          <div class="exists" *ngIf="feedback>0">The comment already exists</div>
          <div class="exists" *ngIf="feedback2>0">Comment is empty</div>
    </mat-card>
      <mat-card class="comment" *ngFor="let thought of idea.thoughts" >
      <strong>Thought given by {{thought.owner}} on {{thought.dateofth | date}}</strong><br>
      <em>{{thought.text}}</em>
      <button *ngIf="(thought.owner==data.getUser())" matButton class="delete" (click)="deleteComment(idea._id, thought.owner, thought.text, thought.dateofth)">Delete</button>
  </mat-card>   
</mat-card>
