        <div class={{data.messageClass}} *ngIf="data.message"><p>{{data.message}}</p></div>
        <mat-card *ngIf="home">
            <form [formGroup]="searchForm" (ngSubmit)="search()">
                <mat-form-field><mat-select  placeholder="Search Category" formControlName="type">
                    <mat-option value="Software">Software</mat-option>
                    <mat-option value="Business">Business</mat-option>
                    <mat-option value="Life Related">Life Related</mat-option>
                </mat-select>                     
                 </mat-form-field>
                 <mat-form-field>
                <input matInput placeholder="Search for Title" formControlName="title">               
                 </mat-form-field>
                 <mat-form-field>
                    <input matInput placeholder="Contributor Id" formControlName="owner">               
                    </mat-form-field>
                <button matButton >Search</button>
            </form>
        </mat-card>
          <mat-card *ngFor="let blog of blogPosts">

            <div style="display:block;padding:10px;float:right;" *ngIf="blog.type=='Software'">
                <img style="width:170px;" src="http://www.newwaytech.vn/upload/images/home/1471493413m3.png"/>
            </div>

            <div style="display:block;padding:10px;float:right;" *ngIf="blog.type=='Business'">
                <img style="width:170px;" src="https://www.forumforthefuture.org/sites/default/files/images/FFTF-sustainable-business_06.png"/>
            </div>

            <div style="display:block;padding:10px;float:right;" *ngIf="blog.type=='Life related'">
                <img style="width:150px;" src="http://www.clker.com/cliparts/a/y/U/w/F/N/tree-md.png"/>
            </div>
                        
            <strong style="font-size:20px;">{{blog.title}}</strong>({{blog.type}})
            <br><em>Posted by {{blog.owner}} on {{blog.dateCreated | date}} </em> 
            <br/><br/><br/><br/><br/>
            <mat-card style="display:block;" class="idea">
            <p>
                {{blog.idea}}
            </p>
            <p *ngIf="!blog.dateApproved" class="align-center warning">Waiting for Approval</p>
            <p *ngIf="blog.total" class="align-right">Rating : {{blog.total}} Stars</p>
            <button matButton (click)="showMore(blog)">More</button>
            <hr>
            <p *ngIf="blog.commentCount">{{blog.commentCount}} thoughts given</p>
           </mat-card>
                <mat-card class="comment" *ngFor="let thought of blog.thoughts | slice:0:3" >
                <strong>Thought given by {{thought.owner}} on {{thought.dateofth | date}}</strong><br>
                <em>{{thought.text}}</em>
            </mat-card>   
     </mat-card>
        
