        <div class={{data.messageClass}} *ngIf="data.message"><p>{{data.message}}</p></div>
        <mat-card *ngFor="let blog of blogPosts">
            <strong style="font-size:20px">{{blog.title}}</strong>({{blog.type}})
            <br><em>Posted by {{blog.owner}} on {{blog.dateCreated | date}} </em> 
           <mat-card class="idea">
            <p>
                {{blog.idea}}
            </p>
            
            <p *ngIf="blog.total" class="align-right">Rating : {{blog.total}} Stars</p>
            <button matButton (click)="showMore(blog)">More</button>
            <hr>
           </mat-card>
                <mat-card class="comment" *ngFor="let thought of blog.thoughts | slice:0:5" >
                <strong>Thought given by {{thought.owner}} on {{thought.dateofth | date}}</strong><br>
                <em>{{thought.text}}</em>
            </mat-card>   
     </mat-card>
        