<div class="wrapper">
//List of routes with some restricted to users who have logged in and some also requiring admin access
    <mat-nav-list>
            <button  mat-button><a [routerLink]="['']">Home</a></button>
            <button mat-button><a [routerLink]="['popular']">Most Popular</a></button>
            <button mat-button><a [routerLink]="['mostdiscussed']">Most Discussed</a></button>
            <button *ngIf="!data.loggedIn()" mat-button><a [routerLink]="['register']">Register</a></button>
            <button *ngIf="!data.loggedIn()" mat-button><a [routerLink]="['login']">Login</a></button>
            <button *ngIf="data.loggedIn() && data.isAdmin()" mat-button><a [routerLink]="['admin']">Admin Panel</a></button>
            <button *ngIf="data.loggedIn()"mat-button><a [routerLink]="['yourideas']">Your Ideas</a></button>
            <button *ngIf="data.loggedIn()"mat-button><a [routerLink]="['idea']">Got an  Idea</a></button>
            <button *ngIf="data.loggedIn()" mat-button (click)="logout()">Logout</button>
    </mat-nav-list>

    <router-outlet></router-outlet>
</div>

