.wrapper{
    width:820px;
    height:auto;
    background:#fff;
    border:2px solid #eee;
    margin-right:auto;
    margin-left:auto;
    padding:20px;
    background:#F8F8F8;
}

ul.list-group{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(79, 16, 121);
}

li {
    display:inline;
    /*float: left;*/
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}