<div class="wrapper">

    <mat-nav-list>
            <button mat-button><a [routerLink]="['']">Home</a></button>
            <button mat-button><a [routerLink]="['popular']">Most Popular</a></button>
            <button mat-button><a [routerLink]="['about']">About</a></button>
            <button mat-button><a [routerLink]="['register']">Register</a></button>
            <button mat-button><a [routerLink]="['login']">Login</a></button>
            <button mat-button><a [routerLink]="['admin']">Admin Panel</a></button>
            <button mat-button><a [routerLink]="['idea']">Got an  Idea</a></button>
    </mat-nav-list>

    <router-outlet></router-outlet>
</div>

