<div class={{data.messageClass}} *ngIf="data.message"><p>{{data.message}}</p></div>

<mat-card *ngFor="let blog of blogPosts">
            <h2>{{blog.title}}</h2>
            <h3>{{blog.type}}</h3>
            <h3>Posted by {{blog.owner}}</h3>
<mat-card>
            <p>
                {{blog.idea}}
            </p>
            <button matButton (click)="Approve(blog._id)">Approve</button>
            <button matButton (click)="Delete(blog._id)">Delete</button>
 </mat-card>
            
</mat-card>