<div class={{data.messageClass}} *ngIf="data.message"><p>{{data.message}}</p></div>
<div class={{actionClass}} *ngIf="action">{{action}} successful</div>

<mat-card *ngFor="let blog of blogPosts">
    <strong style="font-size:20px">{{blog.title}}</strong>({{blog.type}})
    <br><em>Posted by {{blog.owner}} on {{blog.dateCreated | date}} </em> 
<mat-card style="background-color:antiquewhite">
            <p>
                {{blog.idea}}
            </p>
            <button matButton (click)="Approve(blog._id)">Approve</button>
            <button matButton (click)="Delete(blog._id)">Delete</button>
 </mat-card>
            
</mat-card>

<hr/>

<mat-card *ngFor="let user of theUsers"> 
    <mat-card style="background-color:antiquewhite">
        <p>
            {{user.username}} 
        </p>
        <button matButton *ngIf="user.admin==null" (click)="makeAdmin(user.username)">Make admin</button>
     </mat-card>
                
    </mat-card>
