<mat-card class="example-card">
  
   <mat-form-field>
     <input matInput placeholder="Title">
   </mat-form-field>
   <mat-form-field>
     <mat-select placeholder="Select type">
       <mat-option value="Software">Software</mat-option>
       <mat-option value="Business">Business</mat-option>
       <mat-option value="Life related">Life related</mat-option>       
     </mat-select>
   </mat-form-field>
   <mat-form-field>
      <textarea rows=6 matInput placeholder="Type Your idea here"></textarea>
   </mat-form-field>
   <button mat-button>Submit</button>
  
  