<h3>Fill in the fields below in order to sign up</h3>
<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Name">
    </mat-form-field>
    <br/>
    <mat-form-field>
        <input matInput placeholder="Username">
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input matInput type="password" placeholder="Password">
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input matInput type="password" placeholder="Confirm password">
      </mat-form-field>
      <br/>
      
      <button mat-button>Sign Up!</button>
  </div>