<mat-card>
<h3>Fill in the fields below in order to sign up</h3>
   <form [formGroup]='regForm' (ngSubmit)=onSubmit()> 
    <mat-form-field>
      <input matInput placeholder="User Name" formControlName="username" name="username" >
      <mat-error *ngIf="!regForm.controls.username.valid">Username required</mat-error>
     </mat-form-field>    
    <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" name="email" >
            <mat-error *ngIf="!regForm.controls.email.valid">Email required</mat-error>
   </mat-form-field>
   <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" name="password" >
      <mat-error *ngIf="!regForm.controls.password.valid">Password should be atleast 6 chracters</mat-error>
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Confirm Password" formControlName="confirmpassword" name="confirmpassword" >
      <mat-error *ngIf="!regForm.controls.confirmpassword.valid">Passwords dont match</mat-error>
  </mat-form-field>         
      <button matButton [disabled]="!regForm.valid">Sign Up!</button>
      </form>
</mat-card>
